
<%= flash_notice  %>


<h2>My Things 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("add.png", :alt => "Add", :title => "Enter a new thing" ), new_thing_path %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("sort.png", :alt => "Sort", :title => "Sort things" ), report_thing_path %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("import.png", :alt => "Import", :title => "Import things from a spreadsheet" ), import_thing_path %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("export.png", :alt => "Export", :title => "Export things to a spreadsheet" ),  export_thing_path %>

</h2>

<div class="things_list">


<ul>
   <% for thing in @things %>
 
	 <li> 
	<div class="single_thing_listed">

  <%= link_to h(thing.title),
           thing_path(:id         => thing.id)
            %>

<div class="thing_excerpt">
 <%= thing.description  %>
</div>
</div>
  </li>
  <% end %>
</ul>


 <%= no_things(@things)            %>



</div>

