<%= flash_notice  %>
  

 


<div style="height:3000px">


<p>
These videos go deeper into the subject matter, with explanations that may be quite technical,  For an introduction to a topic, 
click a button that says 
<%= link_to "Intro", :controller => "videos", :action => "index"%>

</p>




<div id="vid_model" style="clear:both;border:2px solid;">
<br />
<div class="leftvideo" style="float:left; width:489px;">

<p>Deeper on Mindfulness </p>
<p>
The best (but not introductory) text on the science of mindfulness may be UCLA psychiatrist
Daniel Siegel's book, 
<a href="http://drdansiegel.com/books/the_mindful_brain/">The Mindful Brain</a>.
Here is my <a href="http://www.thenewhumanism.org/authors/rick-heller/articles/the-mindful-brain">interview of Daniel Siegel</a>. 
Siegel's model of mindfulness is based in part of the ideas of 
Jeff Hawkins, author of the book 
<a href="http://books.google.com/books?hl=en&lr=&id=Qg2dmntfxmQC&oi=fnd&pg=PA1&dq=jeff+hawkins&ots=6ixrJbKrhU&sig=xcjFYQ0_t-CMsaShqwWXaoRjJJs#v=onepage&q&f=false">On Intelligence</a>.
Hawkins' view of the brain is based on models of how the brain works by cognitive scientists such as
<a href="http://cns-web.bu.edu/~steve/">Stephen Grossberg</a>, who I have interviewed for a piece not yet published.
</p>

<p>
In essence, the world around us presents us with a kaleidoscope of information, and our brain filters out
much of it. This can be a good thing, but sometimes the brain does this all too well, which can lead to a 
sense of boredom. Mindfulness lowers our guards and promotes the flow of sensory information from the environment 
the brain in a very literal way,
amplifying nerve signals coming from the senses.
We notice things we may have shut out. This produces a sense of freshness, novelty and even wonder
that gets our dopamine system going and makes the world feel especially rewarding.
</p>


</div>
<div class="rightvideo" style="float:right; width:300px;">
<br />
</div>
</div> <!-- end vid_model -->












<div id="vid_noting" style="clear:both;border:2px solid;">
<br />
<div class="leftvideo" style="float:left; width:489px;">

<p>Deeper on Mental Noting (2 min. 43 sec.)</p>
<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/gtr_0ppOcqc" frameborder="0" allowfullscreen></iframe>
<p>
Mental noting would seem to be a form of

<a href="http://scholar.google.com/scholar?q=articulatory+suppression&hl=en&as_sdt=1%2C22&as_sdtp=on">articulatory suppression</a>

  and as a form of subvocal speech, would tend to monopolize the 
<a href = "http://en.wikipedia.org/wiki/Baddeley's_model_of_working_memory">phonological loop of working memory</a>,
thereby crowding out other thoughts. Preventing the subvocal articulation of thoughts about the past or future 
would anchor one in the present moment.
</p>

<p>
The practice of silently noting one's smallest movements seems to go back to the historical Buddha's sayings, as collected in the
<a href="http://www.accesstoinsight.org/lib/authors/nyanasatta/wheel019.html#found">Foundations of Mindfulness</a>. 
Seeing the Roses does not consider the Buddha or anyone else to be authoritative, but this particular idea
seems to have a physiological basis.
</p>
</div>
<div class="rightvideo" style="float:right; width:300px;">
<br />
See <%= link_to image_tag("intro.png", :alt => "Intro", :title => "Introductory" ), :controller => "videos", :action => "index", :anchor => "vid_noting"   %> on mental noting.
</div>
</div> <!-- end vid_noting -->




<div id="vid_treadmill" style="clear:both;border:2px solid;">
<br />
<div class="leftvideo" style="float:left; width:489px;">
<p>Deeper on the Consumer Treadmill (5 min. 0 sec.)</p>

<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/lacuKZLXbZg" frameborder="0" allowfullscreen></iframe>

<p>
References:
</p>
<p>
Brickman P, Coates D, Janoff-Bulman R. 

<a href="http://www.ncbi.nlm.nih.gov/pubmed/690806">Lottery winners and accident victims: is happiness relative?</a> J Pers Soc Psychol. 1978 Aug;36(8):917-27.
</p>
<p>
Sonja, Lyubomirsky, <a href="http://chass.ucr.edu/faculty_book/lyubomirsky/">The How of Happiness</a>
</p>
<p>



Hannah M. Bayer and Paul W. Glimcher
<a href="http://www.cell.com/neuron/retrieve/pii/S0896627305004678">
Midbrain Dopamine Neurons Encode a Quantitative Reward Prediction Error Signal
</a>
Neuron, Volume 47, Issue 1, 129-141, 7 July 2005
</p>
<p>
David G. Myers
<a href="http://www.davidmyers.org/Brix?pageID=21">
The American Paradox: Spiritual Hunger in an Age of Plenty
</a>
</p>
<p>
Juliet Schor, 
<a href="http://www.julietschor.org/the-book/">
Plenitude: the new economics of true wealth
</a>

</p>

</div>
<div class="rightvideo" style="float:right; width:300px;">
<br />
See <%= link_to image_tag("intro.png", :alt => "Intro", :title => "Introductory" ), :controller => "videos", :action => "index", :anchor => "vid_treadmill"   %> about the consumer treadmill.
</div>
</div> <!-- end vid_treadmill -->




<div id="vid_lack" style="clear:both;border:2px solid;">
<br />
<div class="leftvideo" style="float:left; width:489px;">
<p>Deeper on Feelings of Lack and Pain (2 min. 1 sec.)</p>
<p>
<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/HuMpAEM3Hcg" frameborder="0" allowfullscreen></iframe></p>
For more on the science of suffering, see my article on 

<p>
<a href="http://bdtest1.squarespace.com/web-archive/2010/9/13/buddhisms-pain-relief.html">Buddhism's pain relief</a>
 in Buddhadharma magazine.
</p>
 
<p>
Once scientific study that looked at labeling of emotions and how it may bring one to equanimity is 
<a href="http://www.psychosomaticmedicine.org/content/69/6/560.short">Neural Correlates of Dispositional Mindfulness During Affect Labeling</a>, 
J. David Creswell, Baldwin M. Way, Naomi I. Eisenberger and Matthew D. Lieberman. 
</p>
 
 
</div>
<div class="rightvideo" style="float:right; width:300px;">
<br />
See <%= link_to image_tag("intro.png", :alt => "Intro", :title => "Introductory" ), :controller => "videos", :action => "index", :anchor => "vid_lack"   %> on mindfulness of emotions.
</div>
</div> <!-- end vid_lack -->




<div id="vid_sources" style="clear:both;border:2px solid;">
<br />
<div class="leftvideo" style="float:left; width:489px;">

<p>Mindfulness in Tradition </p>
<p>
Mindfulness is the cultivation of nonjudgmental attention, and studies of 
<a href="http://www.scholarpedia.org/article/Attention">attention</a> in Western science go back at least as far as

<a href="http://psychclassics.yorku.ca/James/Principles/prin11.htm">William James</a>.
Mindfulness is heavily 
<a href="http://buddhism.about.com/od/theeightfoldpath/a/right-mindfulness.htm">emphasized in Buddhism</a>
 as one element of the Eightfold Path.

But attention is an element in Western religion as well, although the emphasis is on attention to prayer.
Judaism and Islam require daily prayers, and these can easily
become rote and habitual. Therefore, supplicants are encouraged to pray with focused attention. 
In Judaism, this is called <a href="http://books.google.com/books?id=cvOEmM-aSI8C&pg=PA4&lpg=PA4&dq=judaism+kavanah+mindful&source=bl&ots=1VUa7BzHxw&sig=LBmuEV5vL2Pf9-mR1KcsvnX_Zko&hl=en&ei=xDC7TYGPMYfV0QH_xI3nBQ&sa=X&oi=book_result&ct=result&resnum=3&ved=0CCMQ6AEwAg#v=onepage&q=judaism%20kavanah%20mindful&f=false">kavanah</a>.
This concept also <a href="http://www.sufism.org/books/livinex.html">exists in Islam</a>.
There is a contemplative tradition in the 
<a href="http://en.wikipedia.org/wiki/Philokalia">Philokalia</a>
 of Eastern Orthodox Christianity and in Catholic tradition,
 including the <a href="http://www.ccel.org/ccel/ignatius/exercises.xiii.iii.html">Spiritual Exercises of St. Ignatius of Loyola</a>.
</p>

</div>
<div class="rightvideo" style="float:right; width:300px;">
<br />
</div>
</div> <!-- end vid_sources -->



</div> <!-- height -->

