<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<title>Seeing the Roses
<%= " #{@title} " if @title %>
</title>


<meta name="generator" content="Ruby on Rails" />

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'google_analytics' %> 


<% if request.env["HTTP_USER_AGENT"] && request.env["HTTP_USER_AGENT"][/(Mobile\/.+Safari)/]  %>
  <%= stylesheet_link_tag "handheld", :media => "only screen and (max-device-width: 480px)" %>
<% else %>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
<% end %>

</head>

<body class="<%= controller.controller_name %>">

<div id="wrapper">


<div id="logo">
<span>Seeing </span>
	<!-- wraps link to home page around the image -->
	<%= link_to_unless_current image_tag("logo.gif", :alt => "Seeing the Roses logo", :title => "Return to Home Page" ), :controller => "welcome" %>
<span> the Roses</span>
</div>

<div class="slogan">
<p>
<a href="/" class="button-float-left">Home</a>
<a href="/green" class="button-float-left">Green</a>
<a href="/explanations" class="button-float-left">About</a>
<a href="http://blog.seeingtheroses.org" class="button-float-left">Blog</a>

Loving ourselves, each other and the world around us
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="SeeingtheRoses">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<a href="http://www.twitter.com/SeeingtheRoses" class="follow-button"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow SeeingtheRoses on Twitter"/></a>
</p>
</div>


<div id="content">
  <%= yield :layout %>
</div>




<div id="footer">
 
 <p>
 <%= link_to "About Seeing the Roses", :controller => "explanations", :action => "index" %>
	</p>
</div>



</div>

</body>
</html>
